@font-face {
  font-family: Unica One;
  src: url(../fonts/Unica_One/UnicaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

.content {
  position: relative;
  justify-content: center;
  top: 30%;
  text-align: center;
}

.glitch-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitched,
.glitched-hidden {
  color: white;
  font-family: Unica One, sans-serif;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.1;
}

.glitched {
  position: absolute;
  top: 0;
  opacity: 0.9;
}

.glitched-hidden {
  visibility: hidden;
}

.glitched:nth-child(2) {
  color: #f03e3e;
  animation: glitchAnim 3s infinite;
}

.glitched:nth-child(3) {
  color: #3df0cf;
  animation: glitchAnim2 3s infinite;
}

.glitched:nth-child(4) {
  color: white;
  animation: glitchAnim3 3s infinite;
}

.info {
  position: relative;
  font-family: Open Sans;
  font-size: 2rem;
  color: white;
}

@keyframes glitchAnim3 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(6px, -2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(-12px, -7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(6px, -2px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(7px, 5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitchAnim2 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(-6px, 2px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(12px, 7px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(-6px, 2px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(-7px, -5px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitchAnim {
  20% {
    transform: none;
  }
  23% {
    transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
